.ball {
  position: fixed;
  border-radius: 100%;
  opacity: 0.3;
  z-index: -1;
}
  

*{
    font-family: 'Montserrat',Arial,sans-serif;
    margin: 0;
  padding: 0;
  border: 0;
  a{
    text-decoration: none;
  }
  h1 {
    font-size: 30px !important; 
  }
}

.common__margin{
  margin-top: 100px;
}



.half-square {
    width: 100%;
    height: 20px;
    border-radius: 1000% 1000% 0 0;
    background:linear-gradient(258deg, rgba(255,66,224,1) 0%, rgba(61,80,224,1) 54%, rgba(0,242,255,1) 100%);
    margin: 29px 0;

}

.title {
    line-height: 26px;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    text-align: center;
}
.btn {
    max-width: 300px;
    max-height: 80px;
    border-radius: 10px;
    background: linear-gradient(258deg, rgba(255,66,224,1) 0%, rgba(61,80,224,1) 54%, rgba(0,242,255,1) 100%);
    margin: 15px auto;

    &__text {
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        padding-top: 10px;
    }

}

.subtitle {
    margin-top: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}

.list{
    margin: 10px auto;
    width: 280px;
    line-height: 23px;
    font-size: 15px;
    
}
.subsubtitle  {
    font-size: 16px;
    font-weight: 700;
    width: 260px;
    text-align: center;
    margin: 10px auto;
}
.uni-list {
    width: 280px;
    margin: 10px auto;
    text-align: left;
    line-height: 23px;
    font-size: 15px;
}


.btn__under{
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom :30px ;
    z-index: 100;
    
    
    &__list{
        line-height: 25px;
        max-width: 260px;
        margin: 10px auto;
    }
    p{
        padding: 10px;
    }
    &__price{
        
        a{
            text-decoration: none;
        }
        &-first {
            text-align: center;
            font-size: 30px;
            font-weight: 500;
            text-decoration-line: line-through;
            line-height: 30px;
            color: #0000009c;
        }

        &-second {
            margin-top: 10px;
            text-align: center;
            font-size: 41px;
            font-weight: 700;
        }
        &-text {
            margin: 15px 10px;
            text-align: center;
        }
        
        &-btn {
             background-color: #b31d6a;
            max-width: 280px;
            height: 55px;
            border-radius: 10px;
            margin: 0 auto;
           transition: all 0.3s ease-in ;
           
           &:hover{
            background-color: #c90068;
            scale: 1.1;
            
            }
            &-text{
            font-weight: 600;
            font-size: 20px;
            line-height: 1;
            color: #ffff;
            padding-top: 10px;
            text-align: center;
            }
    }
    }

    
}

.price{
     position: relative;
     margin-bottom: 20px;
    &__title{
        margin-bottom: 35px;
        
       
    }
    &__btn{
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%);
    }
}









.mentor__btn{
  max-width:300px ;
    height: auto;
    border-radius: 10px;
    background: linear-gradient(258deg, rgba(255,66,224,1) 0%, rgba(61,80,224,1) 54%, rgba(0,242,255,1) 100%);
    margin: 15px auto;
    padding: 10px;
    

}

.record__btn{
    background-color: #1eb352;
    width: 280px;
    height: 55px;
    border-radius: 10px;
    margin: 10px auto;
    transition: all 0.3s ease-in ;
   &-text{
    font-weight: 600;
            font-size: 20px;
            line-height: 1;
            color: #ffff;
            padding-top: 17px;
            text-align: center;

    
   }
   &:hover{
        background-color: #01d954;
        color: #ffffff;
        scale: 1.1;
    }
}

.services__subtitle{
    font-size: 15px;
}




.social-button {
    transition: all 0.4s;
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    background-color: #2186EC;
    color: #fff;
    font-size: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition-delay: 1s;
    z-index: 1000;
  }
  .social-button-open {
    transition-delay: 0s;
    bottom: 85px;
    background-color: #d81558;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  }
  .social-button .social-point{
    transition: all 0.4s;
    opacity: 0;
    width: 0px;
    height: 0px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    visibility: hidden;
  }
  .social-button .social-point:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
  }
  .social-button .social-point:nth-child(2) {
    transition-delay: 0.3s;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: #25D366;
  }
  .social-button .social-point:nth-child(3) {
    transition-delay: 0.4s;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: #DC4E41;
  }
  .social-button .social-point:nth-child(4) {
    transition-delay: 0.5s;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: #1da1f2;
  }
  .social-button .social-point:nth-child(5) {
    transition-delay: 0.6s;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: #49a942;
  }
  .social-button .social-point:nth-child(6) {
    transition-delay: 0.7s;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: #3b5998;
  }
  .social-button-open .social-point-open{
    opacity: 1;
    width: 50px;
    height: 50px;
    visibility: visible;
  }
  .social-button-open .social-point-open:nth-child(2) {
    right: 5px;
    bottom: 80px;
  }
  .social-button-open .social-point-open:nth-child(2):hover {
    transition-delay: 0s;
    background-color: #1EA551;
  }
  .social-button-open .social-point-open:nth-child(3) {
    right: 65px;
    bottom: 65px;
  }
  .social-button-open .social-point-open:nth-child(3):hover {
    transition-delay: 0s;
    background-color: #B14237;
  }
  .social-button-open .social-point-open:nth-child(4) {
    right: 80px;
    bottom: 5px;
  }
  .social-button-open .social-point-open:nth-child(4):hover {
    transition-delay: 0s;
    background-color: #1980BF;
  }
  .social-button-open .social-point-open:nth-child(5) {
    right: 65px;
    bottom: -55px;
  }
  .social-button-open .social-point-open:nth-child(5):hover {
    transition-delay: 0s;
    background-color: #3D8937;
  }
  i.fa-brands.fa-telegram {
    margin-top:25px ;
  }

  .fa-youtube{
    margin-top: 13px;
  }

  .fa-instagram {
    margin-top: 25px;
  }

  .fa-whatsapp {
    margin-top: 23px;
  }

  .fa-flip {
    margin-top: 18px;
  }





  header{
    height: 10%
    }


.container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  z-index: 1000;
  position: fixed;
  background: white;
  top: 0; /* Фиксируем в верхней части экрана */
  box-shadow: 10px 10px 20px #00BFFF;

}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #00BFFF;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
  z-index: 1000px
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #00BFFF;
  box-shadow:5px 5px 10px #00BFFF
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 100px;
  background: white;
  height: 100vh;
  width: 70%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -70px;
  transition: transform 0.5s ;
  text-align: center;
  box-shadow:5px 5px 10px #00BFFF
}


.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-weight: 500;
  padding-left: 30px;
}
.navbar .menu-items li{
    transition-duration: 1s
    }
.navbar .menu-items li:hover{
  background: white
  }

.logo {
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 10px;
  color:#00BFFF;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}


@media (max-width: 325px) {
 .title {
   display: none;
  }

}