
.ball {
  position: fixed;
  border-radius: 100%;
  opacity: 0.1;
  z-index: -100;
}
  

  body {
  font-family: 'Kaushan Script', cursive; 
  
}

* {
  margin: 0;
  padding: 0;
  a{
    text-decoration: none;
    color: #FFF;
  }
}

header{
    height: 10%;
    padding-top: 50px;
    }



    .navbar {
      width: 100%;
      box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
      z-index: 1000;
      position: fixed;
      background: white;
      top: 0; /* Фиксируем в верхней части экрана */
      box-shadow: 10px 10px 20px #00BFFF;
    
    }
    
    
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px;
      
    }
    
    .navbar .menu-items {
      display: flex;
    }
    
    .navbar .nav-container li {
      list-style: none;
    }
    
    .navbar .nav-container a {
      text-decoration: none;
      color: #00BFFF;
      font-weight: 500;
      font-size: 1.2rem;
      padding: 0.7rem;
    }
    
    .navbar .nav-container a:hover{
        font-weight: bolder;
    }
    
    .nav-container {
      display: block;
      position: relative;
      height: 60px;
      z-index: 1000px
    }
    
    .nav-container .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
    
    .nav-container .hamburger-lines {
      display: block;
      height: 26px;
      width: 32px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .nav-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #00BFFF;
      box-shadow:5px 5px 10px #00BFFF
    }
    
    .nav-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
    
    .nav-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
    
    .navbar .menu-items {
      padding-top: 100px;
      background: white;
      height: 100vh;
      width: 70%;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -70px;
      transition: transform 0.5s ;
      text-align: center;
      box-shadow:5px 5px 10px #00BFFF
    }
    
    
    .navbar .menu-items li {
      margin-bottom: 1.2rem;
      font-weight: 500;
      padding-left: 30px;
    }
    .navbar .menu-items li{
        transition-duration: 1s
        }
    .navbar .menu-items li:hover{
      background: white
      }
    
    .logo {
      position: absolute;
      top: 17px;
      right: 15px;
      font-size: 10px;
      color:#00BFFF;
    }
    
    .nav-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
    
    .nav-container input[type="checkbox"]:checked ~ .logo{
      display: none;
    }
    






.section_main22 {
  padding: 60px;
  padding: 40px 40px 60px;
}

/* CONTENT */

.content2 {
  text-align: center;
}

.content2 h1 {
  font-family: "Comfortaa", sans-serif;
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  margin-bottom: 36px;
  color: black;
  margin-bottom: 20px;
}

.content2 p {
  font-size: clamp(1rem, 4vw, 1.1rem);
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
  color: black;
}

.content2 button {
  background: linear-gradient(258deg, rgba(255,66,224,1) 0%, rgba(61,80,224,1) 54%, rgba(0,242,255,1) 100%);
  color: #202134;
  font-size: 20px;
   font-family: 'Montserrat',Arial,sans-serif;
  font-weight: 600;
  border: 0;
  outline: 0;
  padding: 8px 14px;
  border-radius: 7px;
  transform: scale(1);
  transition: all 0.4s ease-in;
  cursor: pointer;
  max-width: 300px;
  height: 100px;

  span{
    color:#ffff;
  }

}

.content2 button:is(:hover, :focus) {
  transform: scale(0.98);
  background: rgba(255,66,224,1);
  color: #000000;
}

/* SLIDER */











.Expert{
  text-align: center;
  padding: 10px;
  background: white;
  margin: 10px;
  font-family: 'Kaushan Script', cursive;
  }



.card {
  max-width: 340px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  z-index: auto
}

.card[data-state="#about"] {
  height: 450px;
  .card-main {
    padding-top: 0;
  }
}

.card[data-state="#contact"] {
  height: 430px;
}

.card[data-state="#experience"] {
  height: 550px;
}

.card.is-active {
  .card-header {
    height: 80px;
  }

  .card-cover {
    height: 100px;
    top: -50px;
  }

  .card-avatar {
    transform: none;
    left: 20px;
    width: 50px;
    height: 50px;
    bottom: 10px;
  }

  .card-fullname,
  .card-jobtitle {
    left: 86px;
    transform: none;
  }

  .card-fullname {
    bottom: 18px;
    font-size: 19px;
  }

  .card-jobtitle {
    bottom: 16px;
    letter-spacing: 1px;
    font-size: 10px;
  }
}

.card-header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;

  * {
    transition: 0.3s;
  }
}

.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;

}

.card-avatar {
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.card-jobtitle {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-7px);
}

.card-main {
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.card-subtitle {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}

.card-content {
  padding: 20px;
}

.card-desc {
  line-height: 1.6;
  color: #636b6f;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.card-social {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
  svg {
    fill: rgb(165, 181, 206);
    width: 16px;
    display: block;
    transition: 0.3s;
  }
  a {
    color: #8797a1;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background-color: rgba(93, 133, 193, 0.05);
    border-radius: 50%;
    margin-right: 10px;

    &:hover {
      svg {
        fill: darken(rgb(165, 181, 206), 20%);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.card-buttons {
  display: flex;
  background-color: #fff;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;

  button {
    flex: 1 1 auto;
    user-select: none;
    background: 0;
    font-size: 13px;
    border: 0;
    padding: 15px 5px;
    cursor: pointer;
    color: #5c5c6d;
    transition: 0.3s;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    outline: 0;
    border-bottom: 3px solid transparent;

    &.is-active,
    &:hover {
      color: #2b2c48;
      border-bottom: 3px solid #8a84ff;
      background: linear-gradient(
        to bottom,
        rgba(127, 199, 231, 0) 0%,
        rgba(207, 204, 255, 0.2) 44%,
        rgba(211, 226, 255, 0.4) 100%
      );
    }
  }
}

.card-section {
  display: none;
  &.is-active {
    display: block;
    animation: fadeIn 0.6s both;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }
  100% {
    opacity: 1;
  }
}

.card-timeline {
  margin-top: 30px;
  position: relative;
  &:after {
    background: linear-gradient(
      to top,
      rgba(134, 214, 243, 0) 0%,
      rgba(81, 106, 204, 1) 100%
    );
    content: "";
    left: 42px;
    width: 2px;
    top: 0;
    height: 100%;
    position: absolute;
    content: "";
  }
}

.card-item {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  &:last-child {
    padding-bottom: 5px;
  }

  &:after {
    content: attr(data-year);
    width: 10px;
    position: absolute;
    top: 0;
    left: 37px;
    width: 8px;
    height: 8px;
    line-height: 0.6;
    border: 2px solid #fff;
    font-size: 11px;
    text-indent: -35px;
    border-radius: 50%;
    color: rgba(#868686, 0.7);
    background: linear-gradient(
      to bottom,
      lighten(#516acc, 20%) 0%,
      #516acc 100%
    );
  }
}

.card-item-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-item-desc {
  font-size: 13px;
  color: #6f6f7b;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}

.card-contact-wrapper {
  margin-top: 20px;
}

.card-contact {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #6f6f7b;
  font-family: "DM Sans", sans-serif;
  line-height: 1.6;
  cursor: pointer;

  & + & {
    margin-top: 16px;
  }

  svg {
    flex-shrink: 0;
    width: 30px;
    min-height: 34px;
    margin-right: 12px;
    transition: 0.3s;
    padding-right: 12px;
    border-right: 1px solid #dfe2ec;
  }
}

.contact-me {
  border: 0;
  outline: none;
  background: linear-gradient(
    to right,
    rgba(83, 200, 239, 0.8) 0%,
    rgba(81, 106, 204, 0.8) 96%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 12px 16px;
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
}




.free_vidio {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  background: white;
}

.vidio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn-1-container {
  display: flex;
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; /* Вертикальное выравнивание по центру */
  height: 100%; /* Высота контейнера, необходима для вертикального выравнивания */
}

.btn-1 {
  background: linear-gradient(258deg, rgba(255,66,224,1) 0%, rgba(61,80,224,1) 54%, rgba(0,242,255,1) 100%);
  border: none;
  padding: 15px 60px 15px 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 5px 5px 5px #00BFFF;
  border-radius: 10px;
}

.btn-1:hover {
  background:  rgba(255,66,224,1);
  box-shadow: 10px 10px 10px #00BFFF;
}




.main-container {
    text-align: center;
    padding: 20px;
	background:radial-gradient(
      circle at 3% 100%,
      rgba(184, 184, 184, 0.1) 0%,
      rgba(184, 184, 184, 0.1) 50%,
      rgba(96, 96, 96, 0.1) 70%,
      rgba(96, 96, 96, 0.1) 80%,
      rgba(7, 7, 7, 0.1) 90%,
      rgba(7, 7, 7, 0.1) 99%
    ), linear-gradient(40deg,#040a22, #8e5eb7, #2a48c2, #6f7aa6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  font-family: 'Kaushan Script', cursive;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.section {
    margin-bottom: 20px;
    
    
}

.block {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px auto;
    margin-top: 20px;
    max-width: 284px;
    height: 168.883px;
    border-radius: 10px;

}

.block:hover{
  transition-duration: 0.5s;
  height: 180.883px;
  width: 300px;
  }
.big_blog{
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  }














.after-course-container {
    background: linear-gradient(to right, #ed8dbd,  #bc8fe9); 
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 20px;
    font-size: 20px;
}

.after-course-container ul {
    padding: 0;
}

.after-course-container li {
    margin: 10px 0;
}    


.line-title {
  max-width: 400px;
  span{
    color:#b31d6a;  
  }
}


/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.comment-section {
  padding: 60px 50px;
}
.comment-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}




.comment-section .owl-theme.custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .comment-section {
    padding: 50px 30px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    margin-bottom: 32px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .comment-section {
    padding: 50px 30px 40px;
  }

}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .comment-section {
    padding: 30px 15px 20px;
  }


}

@media (max-width: 325px) {
  .line-title{
    font-size: 15px;
    max-width: 150px;
  }
  .big_blog{
    font-size: 15px;
    
    }

}


.img__main{
  border-radius:100px;
  width: 100%;
  
}

.owl-stage {
  gap: 10px;
}

 
.uni__logo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  img{
    max-width: 125px;
  }
  .ari {
    height: 30px;
  }
  .lynn {
    height:60px ;
  }
  .Inha {
    height:35px ;
  }
  .kyng {
    height:50px ;
  }
  .SOLBRIDGE {
    height:30px ;
  }
  .seoul {
    height:65px ;
  }
}